<%@ page contentType="text/html;charset=UTF-8" %>

<html>
<head>
	<title></title>
	
	<%@ include file="/common/meta.jsp" %>
    <%@ include file="/common/import.jsp" %>
<body>

			<div id="tip">
				<form id="saveForm" name="saveForm" method="post"
					action="">
					<table class="datagrid-body">
						<tr>
							<td class="datagrid-header" width="13%">
								学生编号主键:
							</td>
							<td colspan="3">
							    $!{stuscore.stuid}
							</td>
						</tr> 
						<tr>
							<td class="datagrid-header" width="13%">
								英语成绩:
							</td>
							<td colspan="3">
							    $!{stuscore.english}
							</td>
						</tr> 
						<tr>
							<td class="datagrid-header" width="13%">
								数学成绩:
							</td>
							<td colspan="3">
							    $!{stuscore.math}
							</td>
						</tr> 
						<tr>
							<td class="datagrid-header" width="13%">
								语文成绩:
							</td>
							<td colspan="3">
							    $!{stuscore.chinese}
							</td>
						</tr> 
						<tr>
							<td class="datagrid-header" width="13%">
								计算机成绩:
							</td>
							<td colspan="3">
							    $!{stuscore.computer}
							</td>
						</tr> 
						<tr>
							<td class="datagrid-header" width="13%">
								总分:
							</td>
							<td colspan="3">
							    $!{stuscore.sumscore}
							</td>
						</tr> 
						<tr>
							<td class="datagrid-header" width="13%">
								排名:
							</td>
							<td colspan="3">
							    $!{stuscore.rank}
							</td>
						</tr> 
					</table>
				</form>
				<center>
					<a href="#" class="easyui-linkbutton" iconCls="icon-back"
						id="btn-back" onclick="parent.closeDialog();">关闭</a>
				</center>
			</div>
		</body>
</html>
