<%@ page contentType="text/html;charset=UTF-8" %>

<html>
<head>
	<title></title>
	
	<%@ include file="/common/meta.jsp" %>
    <%@ include file="/common/import.jsp" %>
<body>

			<div id="tip">
				<form id="saveForm" name="saveForm" method="post"
					action="">
					<table class="datagrid-body">
						<tr>
							<td class="datagrid-header" width="13%">
								教师编号:
							</td>
							<td colspan="3">
							    $!{teacher.teacherid}
							</td>
						</tr> 
						<tr>
							<td class="datagrid-header" width="13%">
								教师姓名:
							</td>
							<td colspan="3">
							    $!{teacher.teachername}
							</td>
						</tr> 
						<tr>
							<td class="datagrid-header" width="13%">
								年龄:
							</td>
							<td colspan="3">
							    $!{teacher.teacherage}
							</td>
						</tr> 
						<tr>
							<td class="datagrid-header" width="13%">
								性别:
							</td>
							<td colspan="3">
							    $!{teacher.teachersex}
							</td>
						</tr> 
						<tr>
							<td class="datagrid-header" width="13%">
								密码:
							</td>
							<td colspan="3">
							    $!{teacher.teacherpass}
							</td>
						</tr> 
						<tr>
							<td class="datagrid-header" width="13%">
								授课班级，外键:
							</td>
							<td colspan="3">
							    $!{teacher.teacherclass}
							</td>
						</tr> 
						<tr>
							<td class="datagrid-header" width="13%">
								所在院系，外键:
							</td>
							<td colspan="3">
							    $!{teacher.teacherclub}
							</td>
						</tr> 
						<tr>
							<td class="datagrid-header" width="13%">
								所带课程，外键:
							</td>
							<td colspan="3">
							    $!{teacher.subject}
							</td>
						</tr> 
						<tr>
							<td class="datagrid-header" width="13%">
								毕业院校:
							</td>
							<td colspan="3">
							    $!{teacher.school}
							</td>
						</tr> 
						<tr>
							<td class="datagrid-header" width="13%">
								教师邮箱:
							</td>
							<td colspan="3">
							    $!{teacher.teacheremail}
							</td>
						</tr> 
						<tr>
							<td class="datagrid-header" width="13%">
								是否评价:
							</td>
							<td colspan="3">
							    $!{teacher.pingjia}
							</td>
						</tr> 
					</table>
				</form>
				<center>
					<a href="#" class="easyui-linkbutton" iconCls="icon-back"
						id="btn-back" onclick="parent.closeDialog();">关闭</a>
				</center>
			</div>
		</body>
</html>
